<header>
    <a target="_blank" href="https://br982.hostgator.com.br:2083/cpsess5534441360/3rdparty/phpMyAdmin/index.php"><button class="rounded static inline"><i class="fas fa-database"></i> <span>Ir para banco de dados</span></button></a>
    <!-- <a target="_blank" href="https://docs.google.com/spreadsheets/d/1gqpz5ZVYmGivhkVmRnzMfkjQ8bkVENGbxdKIBm2jET8/edit#gid=0"><button class="rounded static inline"><i class="fas fa-table"></i> <span>Ir para planilha</span></button></a> -->
    <a href="inconsistencias"><button class="rounded static inline"><i class="fas fa-exclamation-triangle"></i> <span>Inconsistência</span></button></a>
    <a target="_blank" href="logout"><button class="rounded static inline"><i class="fas fa-sign-out-alt"></i> <span>Sair</span></button></a>
</header>