{% extends "base.html" %}
{% block title %}Versões{% endblock %}
{% block content %}
    <h1>ESTATÍSTICA DA FISIOTERAPIA DO CEFAN <span><i class="fas fa-exclamation-triangle"></i> INCONSISTÊNCIAS</span></h1>
    <p>É importante destacar, que, por motivos de regras de negócio, são consideradas inconsistências apenas os registros realizados com ano igual ou superior a 2021</p>
    <h3>Militar sem Graduação</h3>
    <h3>Registro sem Turno</h3>
    <h3>Atleta sem Modalidade</h3>
    <h3>Faltas sem justificativas</h3>
    <h3>Comparecimento sem procedimento</h3>
{% endblock content %}