main.login{
    max-width: 320px;
    margin: 0 auto;
    margin-top: 10vh;
    position: relative;

    h1 span{
        line-height: 15px;
        font-size: .6em;
    }

    .red{
        color: $red;
        font-weight: bold;
        padding: 2px 0; 
        margin-top: 3px;
        display: inline-block;
    }

    footer{
        position: absolute;
        bottom: -70px;
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    input{
        width: 100%;
    }

}